// Variable overrides for CoreUI
// You can customize CoreUI theme variables here

// Example: Brand colors
// $primary: #321fdb;
// $secondary: #9da5b1;
// $success: #2eb85c;
// $info: #39f;
// $warning: #f9b115;
// $danger: #e55353;
